html{
    scroll-behavior: smooth;
}
body {
    background-color: #333;
    color: #fff;
    font-family: Arial, sans-serif;
}

header h1 {
    text-align: center;
    padding: 20px;
    text-shadow:0 0 2px #d40707,0 0 30px #bd4602,0px 0px 5px #cc5404, 0 0 150px #FFD100;color:#FFD100;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 100px; 
}

section {
    box-shadow: 10px 5px 5px black;
    padding: 20px;
    background-color: #444;
    margin-bottom: 20px; 
}

section h2 {
    color: orangered;
    font-size: 1.5em;
    margin-bottom: 20px;
    
}

section h3 {

    font-size: 1.2em;
    margin-bottom: 10px;
}

section p {
    margin-bottom: 10px;
}

section ul {
    list-style-type: square;
    padding-left: 20px;

}

footer {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #222;
    color: black;
    margin-top: 100px;
    z-index: 1;
}

progress {
  accent-color: coral;
}

h3 a {
    color: orangered;
}

hr {
    border-top: 3px solid black;
}


.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    height: 60px;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

.navbar li {
    flex: 1;
    text-align: center;
    border-right: 2px solid orangered;
    line-height: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    display: block;
    font-size: 20px;
    line-height: 60px;
}

.navbar a:hover {
    color: orangered;
}

#scrollUp {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 2;
}

#scrollDown {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    left: 30px;
    z-index: 2;
}
/* after_effect */  
